/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------ END RESET ------------------*/
header{
	display: flex;
	justify-content: center;
	background: silver;
	height: 120px;
	border-bottom: 1px solid;
}
/*  Je selectionne l'enfant 
div de 1er niveau à header*/
header > div{
	border: 2px solid black;
	height: 100%;
	width: 800px;
}
.bleu{
	background-color: blue;
}
.vert{
	background-color: green;
}
.orange{
	background-color: orange;
}
/* J'applique à haut-gauche ET haut-droite */
.haut-gauche,
.haut-droite{
	height: 80px;
}
.haut-gauche{
	width: 500px;
}
.haut-droite{
	width: 200px;
}
nav{
	height: 20px;
}
.haut{
	display: flex;
	justify-content: space-between;
}
.milieu-gauche{
	height: 300px;
	width: 300px;
}
.milieu-droite{
	height: 500px;
	width: 500px;
}
.aligner-a{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.bas-gauche{
	height: 60px;
	width: 200px;
}
.bas-droite{
	height: 60px;
	width: 500px;
}
.aligner-b{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.cadre-milieu{
	border: 1px solid black;
	width: 800px;
}
.parent-du-cadre{
	display: flex;
	justify-content: center;
}

footer{
	margin-top: 50px;
	background-color: silver;
	height: 100px;
	display: flex;
	justify-content: center;
}
footer > div{
	width: 800px;
	height: 50px;
	border: 1px solid black;
}

























