.cadre{
	margin: 20px;
	height: 300px;
	width: 60%;
	border: 2px solid black;
}

.carre {
	width: 100px;
	height: 100px;
}

.rouge {
	background-color: red;
}

.bleu {
	background-color: blue;
}

.jaune {
	background-color: yellow;
}

.grand{
	height: 3000px;
}